/**
 * @file
 * Styles for Shuffled Pack.
 */
.ui-icon-spade:after,
.ui-icon-heart:after,
.ui-icon-diamond:after,
.ui-icon-club:after {
  background-image: none;
  text-align: center;
}
.ui-icon-spade:after {
  color: black;
  content: "♠";
}
.ui-icon-heart:after {
  color: red;
  content: "♥";
}
.ui-icon-diamond:after {
  color: red;
  content: "♦";
}
.ui-icon-club:after {
  color: black;
  content: "♣";
}

.ui-listview>.ui-li-static,
.ui-listview>.ui-li-divider,
.ui-listview>li>a.ui-btn {
  white-space: normal;
}
